@model LeapStageWeb.Models.Parent
@{
    ViewData["Title"] = "Login";
}

<body class="" style="margin-top: 100px;">
    <h2>Index</h2>

    <p>@{}Hey Login</p>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input asp-for="email" class="form-control" type="email" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input asp-for="password" class="form-control" type="password" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign Up" class="btn btn-default bg-light" />
                </div>
            </form>
        </div>
    </div>

</body>