@model LeapStageWeb.Models.Parent

@{
    ViewData["Title"] = "Success - created account";
    Layout = "~/Views/Shared/_Layout-Logged.cshtml";
}

<body class="" style="margin-top: 100px;">
    <h2>Successfull, created Account</h2>

    <p>@{} Successfull</p>
    <div class="row">
        <div class="col-md-4">
            
        </div>
    </div>
</body>



